<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.component.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="left">
        <img src="profile.jpg" alt="user" width="100">
        <h4>Rainnie</h4>
        </div>
        <div class="right">

            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <p>Rainnie@gmail.com</p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p>099-9999999</p>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>Projects</h3>
                <div class="projects_data">
                    <div class="data">
                        <h4>Recent</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="data">
                        <h4>Most Viewed</h4>
                        <p>dolor sit amet.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>